<div class="hero-unit">
  <h1>ChinaFlash</h1>
  <p>Let's get the game started!  Are you the teacher or a student?</p>
  <p>
    <a class="btn btn-primary btn-large" href="/games/new">Teacher</a>
    <a class="btn btn-primary btn-large btn-success" href="/participation_acceptances/new">Student</a>
  </p>
</div>
