<div class="hero-unit">
  <h1>ChinaFlash</h1>
  <p>Let's get the game started!  Are you the teacher or a student?</p>
  <p><a class="btn btn-primary btn-large" href="#">Teacher</a>
  <a class="btn btn-primary btn-large btn-success" href="#">Student</a></p>
</div>
