/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import "bootstrap-responsive";

body {
  padding-top: 20px;
  padding-bottom: 40px;
}

body.connecting_games-show {
  p.participation {
    font-size: 32px;
    line-height: 200%;
    span.shortcode {
      font-weight: bold;
      font-family: monospace;
    }
  }
}

body.current_matchups-show {

  div.card-image img {
    max-height: 160px;
  }
}

table.scoreboard {
  @extend .table-bordered;

  zoom: 200%;

  thead tr td {
    text-align: center;
    font-weight: bold;
  }

  td.row-header {
    text-align: center;
    font-weight: bold;
  }

  td.score {
    text-align: center;
    width: 25px;
  }

  font-size: 18px;
  line-height: 150%;

  tr.score-row {
    td { text-align: left; }
    td.score { text-align: center; }
  }

  td.image img {
    width: 25px;
  }

  td.any-score-true {
    background-color: #6e6;
    color: #060;
  }

  td.any-score-false {
    background-color: #eee;
    color: #600;
  }
}

@media (max-width: 1200px) { /* phones */
  body.role_selection-show {

    h1 {
      font-size: 72px;
      line-height: 150%;
    }
    p {
      font-size: 48px;
      line-height: 150%;
    }
    a.btn {
      font-size: 64px;
      padding-top: 50px;
      margin-bottom: 10px;
      width: 100%;
      min-height: 80px;
    }
  }

  body.participation_acceptances-new {

    label, input {
      font-size: 42px;
      line-height: 150%;
    }

    input {
      min-height: 60px;
    }

    button.btn {
      font-size: 42px;
      padding-top: 30px;
      padding-bottom: 30px;
      margin-bottom: 10px;
      width: 100%;
      min-height: 50px;
    }
  }
  body.current_matchups-show {
    h3.answer-text, h3.hint-text {
      font-size: 48px;
    }
    a.btn {
      font-size: 42px;
      padding-top: 30px;
      padding-bottom: 30px;
      margin-bottom: 10px;
      width: 80%;
      min-height: 50px;
    }
  }
}
