/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import "bootstrap-responsive";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

body.connecting_games-show {
  p.participation {
    font-size: 32px;
    line-height: 200%;
    span.shortcode {
      font-weight: bold;
      font-family: monospace;
    }
  }
}

body.current_matchups-show {

  div.card-image img {
    max-height: 160px;
  }
}

table.scoreboard {
  @extend .table-bordered, .table-striped;

  font-size: 32px;
  line-height: 150%;

  tr.score-row {
    font-weight: bold;
  }

  td.image img {
    max-height: 50px;
  }
}
